body {
  margin: 0;
  padding: 2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  word-wrap: normal;
}
